* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

/* Navbar */
.navbar-wrapper {
	display: flex;
	flex-direction: column;
	z-index: 999;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 4rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

.navbar-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 4rem;
	z-index: 999;
}

.navbar-logo img {
	max-width: 6rem;
	z-index: 999;
}

.navbar-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 4rem;
	z-index: 999;
}

.navbar-button {
	padding: 0.7rem 1rem 0.7rem 1rem;
	background-color: white;
	color: #1184e8;
	border: 1px solid #1184e8;
	border-radius: 15px;
	z-index: 999;
}

.navbar-button:hover {
	cursor: pointer;
	background-color: #1184e8;
	color: white;
	z-index: 999;
}

.navbar-contents {
	top: 4rem;
	display: none;
	position: fixed;
	color: white;
	width: 100%;
	height: 4rem;
	background-color: white;
	justify-content: space-around;
	align-items: center;
	z-index: 999;
}

.navbar-contents a {
	text-decoration: none;
	color: black;
	z-index: 999;
}

.navbar-contents a:hover {
	cursor: pointer;
	font-size: 1.25rem;
	color: #1184e8;
	padding-bottom: 0.25rem;
	border-bottom: 2px solid #1184e8;
	z-index: 999;
}

/* Header */
.header {
	padding-top: 4rem;
	height: 1564px;
	background-color: #d3d3d3;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.header-content {
	margin-top: 2rem;
}

.header-content h1 {
	font-size: 7rem;
}

.header-content p {
	font-size: 5rem;
}

.header-image {
	margin-top: auto;
	display: flex;
}

.header-image img {
	max-width: 100%;
}

/* Classes */
.classes {
	background: linear-gradient(
		to right,
		black 0%,
		black 50%,
		#181818 50%,
		#181818 100%
	);
	height: 1350px;
}

/* Classes Join */
.classes-join {
	display: flex;
	justify-content: space-evenly;
	height: 300px;
	background-color: black;
}

.classes-join-left h1 {
	font-size: 4rem;
	color: white;
}

.classes-join-left p {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1.5rem;
	color: white;
}

.classes-join-left a {
	color: white;
	font-size: 2rem;
}

.classes-join-left a:hover {
	color: #1184e8;
}

.classes-join-right {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.classes-join-right img {
	max-height: 300px;
}

/* Classes Promos */
.classes-promos {
	display: flex;
	height: 50rem;
}

.classes-promos-left {
	padding-top: 6rem;
	padding-left: 6rem;
	padding-right: 6rem;
	width: 50%;
	height: 100%;
	background-color: black;
}

.classes-promos-left h1 {
	font-size: 4rem;
	text-align: center;
	color: white;
	padding-bottom: 4rem;
}

.classes-promos-left p {
	font-size: 1.5rem;
	text-align: center;
	color: white;
}

.classes-learn-more {
	padding-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.classes-learn-more button {
	padding: 1.4rem 2rem 1.4rem 2rem;
	font-size: 1rem;
	background-color: black;
	color: white;
	border: 2px solid white;
	border-radius: 15px;
}

.classes-learn-more button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.classes-promos-right {
	padding-top: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 50%;
	height: 100%;
	background-color: #181818;
}

.classes-promos-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.classes-promos-text h1 {
	font-size: 3rem;
	color: white;
	display: inline-block;
	text-align: center;
}

.classes-promos-image-slider {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.classes-promos-img-slides {
	max-width: 100%;
	height: auto;
	border-radius: 50px;
}

.classes-promos-img-left-btn {
	margin-right: 4rem;
	color: white;
	font-size: 3rem;
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: 2px solid white;
	border-radius: 20px;
}

.classes-promos-img-left-btn:hover {
	cursor: pointer;
	color: black;
	background-color: white;
}

.classes-promos-img-right-btn {
	margin-left: 4rem;
	color: white;
	font-size: 3rem;
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: 2px solid white;
	border-radius: 20px;
}

.classes-promos-img-right-btn:hover {
	cursor: pointer;
	color: black;
	background-color: white;
}

.classes-image img {
	max-width: 100%;
	max-height: 450px;
}

/* News */
.news {
	background-color: #81add1;
	height: 1300px;
	display: flex;
	flex-direction: column;
}

.news-title {
	padding-top: 6rem;
	width: 100%;
}

.news-title p {
	color: white;
	text-align: center;
	font-size: 5rem;
}

.news-content {
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	display: flex;
}

.news-content-image {
	max-width: 500px;
	height: 625px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.news-content-image-img {
	display: block;
	width: 100%;
	border-radius: 50px;
}

.news-content-image-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 0;
}

.news-content-image-overlay > * {
	transform: translateY(200px);
	transition: transform 0.5s;
}

.news-content-image-overlay:hover > * {
	transform: translateY(0px);
	transition: transform 0.5s;
}

.news-content-image-overlay:hover {
	opacity: 1;
}

.image-overlay-title {
	font-size: 3rem;
	font-style: bold;
}

.image-overlay-desc {
	margin-top: 0.5rem;
	font-size: 1.5rem;
}

.image-overlay-anchor {
	margin-top: 1rem;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	transition: 0.5s;
}

.image-overlay-anchor:hover {
	font-size: 2rem;
	color: #81add1;
	text-decoration: underline;
}

.news-learn-more {
	margin-top: 5rem;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news-learn-more-button {
	padding: 1.5rem;
	font-size: 1.5rem;
	border-radius: 25px;
	border: 2px solid white;
	background-color: #81add1;
	color: white;
}

.news-learn-more-button:hover {
	cursor: pointer;
	background-color: white;
	color: #81add1;
}

/* Footer */
.footer {
	background-color: white;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.footer-content {
	display: flex;
	width: 100%;
	height: 300px;
}

.footer-left {
	padding-left: 4rem;
	width: 50%;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.footer h1 {
	color: #1184e8;
	font-size: 2rem;
	margin-top: 2rem;
}

.footer-socmed img {
	margin-top: 1rem;
	max-height: 50px;
	max-width: 50px;
}

.footer-right {
	padding-right: 4rem;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.footer-right a {
	font-size: 1.25rem;
	color: black;
}

.footer-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-logo img {
	max-height: 150px;
	max-width: 150px;
}
