/* Mobile L */
@media (max-width: 525px) {
	/* Navbar */
	.navbar-logo {
		padding-left: 2rem;
	}
	.navbar-button-wrapper {
		padding-right: 2rem;
	}
	/* Header */
	.header-content h1 {
		font-size: 6rem;
	}
	.header-content p {
		font-size: 4rem;
	}
	/* Classes */
}

/* Intermediary Media Query */
@media (max-width: 500px) {
	/* Classes */
	.classes-promos-img-slides {
		max-width: 300px;
	}
	.classes-promos-text h1 {
		font-size: 2rem;
	}
}

@media (max-width: 440px) {
	/* Classes */
	.classes-promos-text h1 {
		font-size: 1.75rem;
	}
	.classes-promos-img-slides {
		max-width: 250px;
	}
}

/* Mobile M */
@media (max-width: 425px) {
	/* Classes */
	.classes-promos-left {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.classes-join-left h1 {
		font-size: 3rem;
	}
	.classes-join-left p {
		font-size: 1.5rem;
	}
	.classes-promos-left h1 {
		font-size: 3rem;
	}
	.classes-promos-left p {
		font-size: 1.5rem;
	}
	.classes-promos-text h1 {
		font-size: 1.75rem;
	}
	.classes-promos-img-slides {
		max-width: 250px;
		border-radius: 20px;
	}
	.classes-promos-img-left-btn {
		margin-right: 1rem;
	}
	.classes-promos-img-right-btn {
		margin-left: 1rem;
	}
}
/* Intermediary Media */
@media (max-width: 400px) {
	/* Classes */
	.classes-promos-text h1 {
		font-size: 1.5rem;
	}
}

@media (max-width: 380px) {
	/* Classes */
	.classes-promos-img-slides {
		max-width: 220px;
	}
}

@media (max-width: 350px) {
	/* Header */
	.header-content h1 {
		font-size: 5rem;
	}
	/* Classes */
	.classes-promos-text h1 {
		font-size: 1.25rem;
	}
	.classes-promos-img-slides {
		max-width: 200px;
	}
}

/* Mobile S */
@media (max-width: 325px) {
	/* Navbar */
	.navbar-logo {
		padding-left: 1rem;
	}
	.navbar-button-wrapper {
		padding-right: 1rem;
	}
	/* Header */
	.header-content p {
		font-size: 3rem;
	}
	.classes-promos-img-slides {
		max-width: 180px;
	}
}
